#hero {

    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url(img/fondoindex2.jpg) !important;
    background-size: cover;
    color: white;
    height: 84vh;

}

#titulohero {

    margin-top: 200px;

}

#encabezado {

    background-color: black;

}

footer {

    background-color: black;

}

#fondocurso {

    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url(img/fondoindex1.jpg) !important;
    background-size: cover;

}
